/* 구글 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* CSS 설정 */
:root {
    --nav--width: 92px;

    /* 색상 */
    --first-color: #BB4F5A;
    --bg-color: #504948;
    --font-color: #F7F7E7;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--font-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--font-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

.image {
  position:relative;
}

.image .today {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 4.2vw;
  font-style: italic;
  color: var(--font-color);
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.image .text1 {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5vw;
  font-style: italic;
  color: var(--font-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image .text2 {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-style: italic;
  font-size: 1.5vw;
  color: var(--font-color);
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.center {
  padding: 10px 20px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}